*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

.container{
    margin: 0 auto;
    width: 80%;
    height: 100%;
}
ul{
    margin: 0;
    padding: 0;
}

header{
    background: rgb(46, 51, 56);
    color: #ffffff;
    min-height: 100px;
    
}
header #logo{
    float: left;
    padding-left: 40px; 

}
header nav{
    float: right;
    margin-top: 30px;
}
header li{
    display: inline;
    padding: 0 20px 0 20px;
    
}

header nav a{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 22px;
}
 header a:hover{
    color: #E0021C;
    transition: all .4s;
    
} 
.sign-in{
    width: 300px;
    min-height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: #ffffff;

}
.sign-in h1{
    font-size: 30px;
    border-bottom: 5px solid #E0021C ;
    margin-bottom: 50px;
    border-radius: 10px;
    
    
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 20px 0;
    border-bottom: 5px solid #E0021C;
    border-radius: 10px;
    position: relative;
}
.textbox i {
    width: 26px;
    float: left;
    text-align: center;
    padding-bottom: 5px;
    position: absolute;
    top: 17px;
    left: 0;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: #ffffff;
    font-size: 18px;
    width: 230px;
    float: left;
    margin: 10px 40px;
}
.sign-in .btn{
    width: 100%;
    height: 45px;
    background: none;
    border: 2px solid #E0021C;
    border-radius: 10px;
    color: rgb(46, 51, 56);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 0;
}
/* }
.sign-in .btn:hover{
    color: #ffffff;
} */
#main{
    height: 1500px;
}
#main-second{
    width: 100%;
    height: 1000px;
    /* min-height: 1000px;
    background-image: url("../img/about6_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; */
    
}
#main-third{
    height: 1100px;
}
#main-fourth{
    height: 1200px;
   
}
 #bg_img{
    min-height: 1000px;
    background-image: url("../img/about1_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
} 


#bg_img .box{
    width: 450px;
    min-height: 500px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    color: white;
    margin: 0 auto;
    transform: translate(0%, 50%);

}
.box-img{
    border-radius: 50%;
    width: 170px;
    height: 200px;
}
#bg_img .box h1{
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;

}
#bg_img .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
#bg_img .box p{
    text-align: justify;
    margin-top: 20px;
}
#bg_img .box ul{
    margin-top: 10px; 
}
#bg_img .box li{
    display: inline-block;
    margin: 6px;
    margin-right: 20px;
    
}
#bg_img .box li a{
    color: white;
    font-size: 30px;
    transition: all ease-in-out 250ms;
}
#bg_img .box li a:hover{
    color: #E0021C;
}

.social_icons{
    padding: 10px 0;
}
.social_icons a{
    display: inline-block;
    height: 26px;
    width: 26px;
    text-align: center;
    background: rgb(46, 51, 56);
    color: #ffffff;
    border-radius: 50%;
    transition: 0.5s;
}
.social_icons a .fa{
    line-height: 26px;
}
.social_icons a:hover{
    background: #E0021C;
}

#hero-second{
    min-height: 500px;
    background-image: url("../img/about8.1_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
#hero-third{
    min-height: 1200px;
    background-image: url("../img/sign-in2.1_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
}
.input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,260%);
    width: 300px;
    height: 40px;
}

.input #support{
    position: relative;
    padding-left: 40px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid rgb(46, 51, 56);
    height: 40px;
    width: 300px;
    outline: none;
    transition: .3s;
    color: #ffffff;
    border-color: #E0021C;
    
}
#support::placeholder{
    color:#ffffff;
}
.input #support:focus{
    border-color: #E0021C;
    box-shadow:  0 0 8px 0 #E0021C;

}
.input i{
    position: absolute;
    left: 14px;
    top: 11px;
    color: #E0021C;
    transition: .3s; 
}
input #support:focus +i{
    color: #E0021C;
} 

#hero{
    min-height: 600px;
    background-image: url("../img/about7.1_img.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    position: relative;
}
#hero h1{
    position: absolute;
    margin-top: 180px;
    font-size: 45px;
    margin-bottom: 10px;
    color: #ffffff;
    left: 0;
    top: 0;
    transform: translate(14%,0%);
}
#hero p{
    position: absolute;
    margin-top: 260px;
    left: 0;
    top: 0;
    transform: translate(6%,0%);
    width: 700px;
    font-size: 20px;
    color: #ffffff;
}
#newsletter{
    padding: 15px;
    color: #ffffff;
    background-color: rgb(46, 51, 56);
    min-height: 80px;
    text-align: center;
}
#newsletter .container{
    margin-top: 5px;
}
#typed{
    font-size: 25px;
}
/* 
#newsletter form{
    text-align: center;
    margin-top: 3px;
}
#newsletter #email{
    padding: 4px;
    height: 25px;
    width: 250px;
    background: transparent;
    border: 1px solid #E0021C;
    border-radius: 5px;
}
#newsletter #button{
    height: 38px;
    background: #E0021C;
    color: #ffffff;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;

}  */
#boxess{
    margin-top: 20px;
    height: 580px;
}
#boxess .box{
    float: left;
    text-align: center;
    padding: 10px;
    width: 33%;
    border-left: 2px solid rgb(46, 51, 56);
}
#boxess .box-support1:hover{
    background-color: #E0021C;
    transition-duration: .6s;
    
    
}
#boxess .box ul li{
    width: 250px;
}
#boxess .box-support1:hover ul li .space{
    color: #ffffff;
}
#boxess .box-support2:hover{
    background-color: #E0021C;
    transition-duration: .6s;
    
}
#boxess .box-support2:hover ul li .space{
    color: #ffffff;
} 
#boxess ul li .space{
    padding: 10px 0;
    text-align: left;
    color: rgb(46, 51, 56);
}

#boxes{
    margin-top: 20px;
    height: 800px;
}
#boxes .box{
    float: left;
    text-align: center;
    padding: 10px;
    width: 50%;
    
}
#boxes .box img{
    width: 300px;
    border-radius: 50px;
    
}

#boxes .box-support1:hover{
    background-color: #E0021C;
    transition-duration: .6s;
    
    
}
#boxes .box ul li{
    width: 250px;
}
#boxes .box-support1:hover ul li .space{
    color: #ffffff;
}
#boxes .box-support2:hover{
    background-color: #E0021C;
    transition-duration: .6s;
}
#boxes .box-support2:hover ul li .space{
    color: #ffffff;
} 
#boxes ul li .space{
    padding: 10px 0;
    text-align: left;
    color: rgb(46, 51, 56);
}
#boxes h3{
    padding-bottom: 5px; 
}
#cleaner{
    clear: both;
}

footer{
    height: 100px;
    padding: 40px;
    color: #ffffff;
    background-color: rgb(46, 51, 56);
    text-align: center; 
}

@media(max-width: 1320px){
    #main-second{
        height: 900px;
    }
    #main-fourth{
        height: 1100px;
    }
    #hero-third{
        min-height: 1100px;
    }
    #hero-third .sign-in{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -90%);
        
    
    }
    #bg_img{
        min-height: 900px;
    }
    #bg_img .box{
        transform: translate(0%, 40%);
    }
    #hero{
        background-attachment: unset;
        min-height: 600px;
    }
   
}
@media(max-width: 1200px){
    /* #main-second{
        height: 800px;
    } */
    #main-fourth{
        height: 1000px;
    }
    #hero-third{
        min-height: 1000px;
    }
    /* #bg_img{
        min-height: 800px;
    } */
    /* #bg_img .box{
        width: 450px;
        min-height: 300px;
        transform: translate(0%, 30%);
    } */
}
@media(max-width: 1100px){
    /* #main-second{
        height: 750px;
    } */
    #main-fourth{
        height: 900px;
    }
    #hero-third{
        min-height: 900px;
    }
    #hero-third .sign-in{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
    }
    /* #bg_img{
        min-height: 750px;
    } */
    /* #bg_img .box{
        width: 450px;
        min-height: 300px;
        transform: translate(0%, 20%);
        
    } */

}
@media(max-width: 990px){
    /* #main-second{
        height: 700px;
    } */
    #main-fourth{
        height: 800px;
    }
    #hero-third{
        min-height: 800px;
    }
    #hero-third .sign-in{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
    }
    .textbox input {
        color: rgb(46, 51, 56);
    }
    /* #bg_img{
        min-height: 700px;
    } */
}
@media(max-width: 880px){
    header #logo, header nav, header nav li, #newsletter h1, #newsletter form, #boxes .box{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    #hero{
        background-attachment: unset;
        min-height: 600px;
    }
    #main{
        height: 2200px;
    }
    #main-third{
        height: 1100px;
    }
    /* #main-second{
        height: 600px;
    } */
    #main-fourth{
        height: 700px;
    }
    #hero-third{
        min-height: 700px;
    }
    #hero-third .sign-in{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
    }
    .textbox input {
        color: rgb(46, 51, 56);
    }
    /* #bg_img{
        min-height: 600px;
    } */
}



::-webkit-scrollbar{
    width: 8px;
    
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(46, 51, 56);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);   
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation:  blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}












